<h1> <%= @user.name %> </h1>
<%= image_tag @user.avatar(:medium) %>
<h3>Username: <%= @user.username %></h3>
<h3>Address: <%= @user.address %></h3>
<h3>City: <%= @user.city %> </h3>
<h3>Hours: <%= @user.hours %></h3>
<h3>Description: <%= @user.description %></h3>
<h3>Business: <%= @user.status %></h3>

<% if current_user.id == @user.id %>
<%= link_to "Edit my profile", edit_user_registration_path %>
<% end %>