<p id="notice"><%= notice %></p>

<h1>The City Buzz</h1>
<h4>Event Feed</h4>


<!-- <div class="row"> -->
<div class="allblocks">
	<% @events.reverse_each do |event| %>
		<div class="panel blocks">
			<div class="panel-heading">
				<h5><%= link_to event.user.username, profile_path(event.user) %></h5>
			</div>
			<div class="panel-body">
				<h3><%= event.message %></h3>
				<%= image_tag event.image(:thumb) %><br>
				<%= link_to "More info", event_path(event) %>
			</div>
		</div>
	<!-- </div> -->
	<% end %>
</div>
