<!DOCTYPE html>
<html>
<head>
  <title>Citybuzz</title>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'profile', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/events" class="navbar-brand">City Buzz</a>
    </div>

    <div class="pull-right">
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
		<% end %>
	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <% if user_signed_in? %>
  <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
      	<li><%= link_to 'New Event', new_event_path %></li>
      </ul>
  </div><!-- /.navbar-collapse -->
  <% end %>

  </div><!-- /.container-fluid -->
</nav>

<%= yield %>
<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
